
<h2>Select Profile</h2>

{{#each users}}
<div class="profile">
  <a href="/login/{{this.id}}" class="profile-link">{{this.username}}</a>
  <a href="javascript:client.edit({{this.id}});">Edit</a>
</div>
{{/each}}
<div class="profile">
  <a href="javascript:client.edit(0);" class="profile-link">New Profile</a>
</div>

<div id="edit-profile">
<form action="/profile" method="post">
  <input type="hidden" name="id" id="id" />
  <div>
    <label for="username" class="label">Name</label><br />
    <input type="text" name="username" id="username" />
  </div>
  <br />
  <div class="label">Height</div>
  <div class="input-group">
    <label for="feet">feet</label>
    <input type="text" name="feet" id="feet" class="tiny" onkeyup="client.in2m();" />
  </div>
  <div class="input-group">
    <label for="inches">inches</label>
    <input type="text" name="inches" id="inches" class="tiny"  onkeyup="client.in2m();" />
  </div>
  <div class="input-group">
    <label for="height">meters</label>
    <input type="text" name="height" id="height" class="tiny"  onkeyup="client.m2in();" />
  </div>
  <div class="label">Statistics</div>
  {{#each fields}}
  <div class="field-select">
    <input type="checkbox" name="field-{{this}}" id="field-{{ID this}}" />
    <label for="field-{{this}}">{{this}}</label>
  </div>
  {{/each}}
  <br />
  <div class="label">Theme</div>
  <div class="field-select">
    <input type="radio" name="theme" value="light" id="light" />
    <label for="light">light</label>
  </div>
  <div class="field-select">
    <input type="radio" name="theme" value="dark" id="dark" />
    <label for="dark">dark</label>
  </div>
  <br />
  <input type="submit" value="Save">
</form>
</div>
